@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --titleBarBackground: #1c1c1c;
    --titleButtonsIsHover: #2c2c2c;
    --titleBarForeground: #ededed;

    --codeEditorBg: #1E212B;
    --codeEditorFg: #FFFFFF;

    --codeEditorNumBg: #292929;
    --codeEditorNumFg: #9fb0c8;
}

* {
    box-sizing: border-box;
}

body {
    background: #121212;
    color: var(--titleBarForeground);
    padding: 0;
    margin: 0;
}

nav {
    border: 1px solid #2c2c2c;
    height: 35px;
    display: flex;
    align-items: center;
    background: var(--titleBarBackground);
}

#title {
    user-select: none;
    margin-left: 10px;
    -webkit-app-region: drag;
    font-family: Inter;
    font-weight: 600;
}

#titleBarModeChange {
    transition: .2s ease;
    background: var(--titleBarBackground);
    color: var(--titleBarForeground);
    font-size: 17px;
    margin: 0;
    aspect-ratio: 1;
    border: none;
    height: 100%;
}

#titleBarModeChange:hover {
    transition: .2s ease;
    background: var(--titleButtonsIsHover);
    cursor: pointer;
}

:not(nav) {
    -webkit-app-region: no-drag;
}

.nav-btns {
    margin-left: auto;
    height: 100%;
    display: flex;
}

.nav-btns > button {
    transition: background .2s ease;
    background: var(--titleBarBackground);
    border: none;
    height: 100%;
    margin: 0;
    aspect-ratio: 1;
    color: var(--titleBarForeground);
    font-size: 17px;
}

.nav-btns > button:hover {
    transition: .2s ease;
    background: var(--titleButtonsIsHover);
    cursor: pointer;
}

.nav-btns > button:active {
    background: #4c4c4c;
}

#fsMode {
    height: 100%;
    display: flex;
}

.menuBtn {
    transition: background .2s ease;
    background: var(--titleBarBackground);
    border: none;
    height: 100%;
    margin: 0;
    aspect-ratio: 1;
    color: var(--titleBarForeground);
    font-size: 14px;
    width: 100%;
}

.menuBtn:hover {
    transition: .2s ease;
    background: var(--titleButtonsIsHover);
    cursor: pointer;
}

.menuBtn:active {
    background: #4c4c4c;
}

.workPanel {
    width: 100%;
    height: calc(100vh - 35px);
    border: none;
}

textarea.editor {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    resize: none;
    background: transparent;
    color: inherit;
    font: inherit;
}

.menu-item {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content button {
    color: black;
    padding: 16px 16px;  /* Увеличить высоту кнопки */
    text-decoration: none;
    display: block;
    border: none;
    background: none;
    cursor: pointer;
    width: 100%; /* Убедитесь, что кнопка занимает всю ширину */
}


.dropdown-content button:hover {
    background-color: #f1f1f1;
}
